/.sonar 
/ix3businessprocess/nbproject/private/
/ix3process/nbproject/private/
/ix3process/build/
/ix3rules/nbproject/private/
/ix3rule/nbproject/private/
/ix3rule/build/
/ix3rule/dist/
/ix3businessprocess/build/
/ix3businessprocess/dist/
/ix3securityimpl/nbproject/private/
/ix3security/nbproject/private/
/ix3service/nbproject/private/
/ix3core/nbproject/private/
/ix3web/nbproject/private/
/ix3core/build/
/ix3core/dist/
/ix3service/build/
/ix3service/dist/